@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
    /* Mesh Gradient Background */
    background-image:
        radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
        radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
        radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
    background-color: #f0f2f5;
    background:
        radial-gradient(at 0% 100%, rgb(196, 219, 255) 0px, transparent 50%),
        radial-gradient(at 100% 100%, rgb(255, 215, 225) 0px, transparent 50%),
        radial-gradient(at 50% 0%, rgb(220, 240, 255) 0px, transparent 50%),
        rgb(245, 247, 250);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}